app-card {
    margin: 20px;
}

.title h1 {
    text-align: left;
    padding: 0;
}

p {
    text-align: justify;
    margin: 0;
    font-size: 1.2em;
}



#funebres {
    margin: 50px auto;
}
  
#service {
    margin: auto;
    padding: 20px;
}

@media (max-width: 768px) {
    #service {
        width: 90%;
    }
}