<div class="container" id="funebres">
    <div class="row">
        <div class="col-lg-3">
            <app-service-navigation [redirect]="'/servicios/funebres'"></app-service-navigation>
        </div>
        <div class="col-lg-9 animate__animated animate__fadeIn" id="service">
            <div class="title">
                <h1>Servicios Fúnebres</h1>
            </div>
            <ul>
                <li>Urnas de Primera Calidad.</li>
                <li>Tramitación en Registro Civil (Inscripción de defunción).</li>
                <li>Tramitación en Seremi de Salud (Autorización sanitaria para el traslado).</li>
                <li>Traslados de carroza en todo momento, desde cualquier ciudad y región del país desde el lugar de fallecimiento, domicilio, hospital, clínica, servicio médico legal al lugar del velatorio y posterior funeral al cementerio.</li>
                <li>Tarjetas y libro de condolencias.</li>
                <li>Arreglo Floral.</li>
                <li>Certificación Médica a Domicilio.</li>
                <li>Servicio de Cremación.</li>
                <li>Servicio de Repatriación para ciudadanos Extranjeros.</li>
                <li>Atención exclusiva ARMADA, Carabineros, IPS, AFP, Compañía de seguros y/o Rentas Vitalicias, Capredena, Dipreca.</li>
            </ul>
            <div class="fotos">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="../../../assets/plan-repatriacion.png" alt="Servicio de Repatriación" class="img-fluid foto">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="../../../assets/carroza mercedes.webp" alt="Urnas Funeraria Cubillos" class="img-fluid foto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>