<div class="container" id="funebres">
    <div class="row">
        <div class="col-lg-3">
            <app-service-navigation [redirect]="'/servicios/funebres'"></app-service-navigation>
        </div>
        <div class="col-lg-9 animate__animated animate__fadeIn" id="service">
            <div class="title">
                <h1>Servicios Fúnebres</h1>
            </div>
            <ul>
                <li>Urnas de Primera Calidad.</li>
                <li>Tramitación en Registro Civil.</li>
                <li>Traslados de carroza en todo momento, desde cualquier región del país.</li>
                <li>Tarjetas y libro de condolencias.</li>
                <li>Arreglo Floral.</li>
                <li>Certificación Médica a Domicilio.</li>
                <li>Cremación.</li>
                <li>Servicio de Repatriación para ciudadanos Extranjeros.</li>
            </ul>
            <div class="fotos">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../assets/plan-repatriacion.png" alt="Servicio de Repatriación" class="img-fluid foto">
                    </div>
                    <div class="col-6">
                        <img src="../../../assets/carroza mercedes.webp" alt="Urnas Funeraria Cubillos" class="img-fluid foto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>