app-card {
    margin: 20px;
}

.title h1 {
    text-align: left;
    padding: 0;
}

p {
    text-align: justify;
    margin: 0;
    font-size: 1.2em;
}

.carrozaMarca {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border: 5px solid rgb(60, 60, 60);
    border-radius: 30px;
}

#funebres {
    margin: 50px auto;
}
  
#service {
    margin: auto;
    padding: 20px;
}

@media (max-width: 768px) {
    #service {
        width: 90%;
    }
}