<div class="container" id="funebres">
    <div class="row">
        <div class="col-lg-3">
                <app-card [title]="'Servicios Funerarios'" [icon]="'fa-seedling'"></app-card>
                <app-card [title]="'Servicios de Cremación'" [icon]="'fa-fire'"></app-card>
                <app-card [title]="'Traslado de carroza'" [icon]="'fa-car'"></app-card>
                <app-card [title]="'Asesoría en Tramitaciones'" [icon]="'fa-handshake'"></app-card>
                <app-card [title]="'Certificación Médica'" [icon]="'fa-file-circle-check'"></app-card>
                <app-card [title]="'Exhibición de Urnas'" [icon]="'fa-box'"></app-card>
                <app-card [title]="'Servicio Funerario de Repatriación'" [icon]="'fa-box'"></app-card>
        </div>
        <div class="col-lg-9" id="service">
            <div class="title">
                <h1>Servicios Fúnebres</h1>
            </div>
            <p>Contamos con modernas carrozas panorámicas, salones velatorios, oficina administrativa, sala de exposiciones y ventas, ofrecemos una atención personalizada e integral y el mejor asesoramiento para usted y familia brindando servicios funerarios las 24 horas y los 365 días del año.</p>
            <br>
            <p>Le ofrecemos los más altos estándares de calidad en urnas. Nuestras carrozas panorámicas de última generación son cómodas y confortables. Nuestros conductores profesionales gozan de una gran experiencia y brindan plena garantía de confiabilidad hacia las familias.</p>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="../../../assets/carroza mercedes.webp" alt="Carrozas Funeraria Cubillos" class="img-fluid carrozaMarca">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="../../../assets/carroza cadillac.webp" alt="Carrozas Funeraria Cubillos" class="img-fluid carrozaMarca">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="../../../assets/carrozas.webp" alt="Carrozas Funeraria Cubillos" class="img-fluid carrozaMarca">
                </div>
            </div>
        </div>
    </div>
</div>