<app-card [title]="'Servicios Funerarios'" [redirect]="funebres" [active]="redirect == funebres"></app-card>
<app-card [title]="'Servicios de Cremación'" [redirect]="cremacion" [active]="redirect == cremacion"></app-card>
<app-card [title]="'Traslado de carroza'" [redirect]="traslados" [active]="redirect == traslados"></app-card>
<app-card [title]="'Asesoría en Tramitaciones'" [redirect]="tramitaciones" [active]="redirect == tramitaciones"></app-card>
<app-card [title]="'Certificación Médica'" [redirect]="certificacion" [active]="redirect == certificacion"></app-card>
<app-card [title]="'Exhibición de Urnas'" [redirect]="urnas" [active]="redirect == urnas"></app-card>
<app-card [title]="'Servicio Funerario de Repatriación'" [redirect]="repatriacion" [active]="redirect == repatriacion"></app-card>