<app-card [title]="'Servicios Funerarios'" [icon]="'fa-seedling'" [redirect]="funebres" [active]="redirect == funebres"></app-card>
<app-card [title]="'Servicios de Cremación'" [icon]="'fa-fire'" [redirect]="cremacion" [active]="redirect == cremacion"></app-card>
<app-card [title]="'Traslado de carroza'" [icon]="'fa-car'" [redirect]="traslados" [active]="redirect == traslados"></app-card>
<app-card [title]="'Asesoría en Tramitaciones'" [icon]="'fa-handshake'" [redirect]="tramitaciones" [active]="redirect == tramitaciones"></app-card>
<app-card [title]="'Certificación Médica'" [icon]="'fa-file-circle-check'" [redirect]="certificacion" [active]="redirect == certificacion"></app-card>
<app-card [title]="'Exhibición de Urnas'" [icon]="'fa-box'" [redirect]="urnas" [active]="redirect == urnas"></app-card>
<app-card [title]="'Servicio Funerario de Repatriación'" [icon]="'fa-box'" [redirect]="repatriacion" [active]="redirect == repatriacion"></app-card>