.card-body {
    display: flex;
    justify-content: space-between;
  }

  
  div.icon {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  div.card-text {
    text-align: justify;
    margin: auto 30px auto 0;
  }

  .fa-3x {
    font-size: 3em !important;
  }

  .card {
    background-color: rgb(60, 60, 60);
    /* sombra */
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.3);
    border: 0;
    max-height: 64px;
    text-decoration: none;
    margin: 20px auto;
  }

  .card:hover {
    transition: .2s ease;
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.5);
    scale: 1.02;
  }

  .dorado {
    border: 5px solid #dfb810;
  }