<a class="card" [routerLink]="[redirect]" routerLinkActive="router-link-active" [class]="title == 'Servicio Funerario de Repatriación' ? 'dorado': ''"
    [class]="active ? 'bg-light' : 'bg-dark'">
    <div class="card-body">
      <div class="card-text text-white">
        <h6 [style]="active ? 'color: #000' : ''">{{ title }}</h6>
      </div>
    </div>
    <ng-container *ngIf="active; then volver else quedar"></ng-container>
    <ng-template #volver>
      <button class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" 
              [routerLink]="'../../'" (click)="back($event)">
        <i class="fa-solid fa-xmark"></i>
        <span class="visually-hidden">volver</span>
      </button>
    </ng-template>
    <ng-template #quedar></ng-template>
</a>