<div class="container" id="cremacion">
    <div class="row">
        <div class="col-lg-3">
            <app-service-navigation [redirect]="'/servicios/cremacion'"></app-service-navigation>
        </div>
        <div class="col-lg-9 animate__animated animate__fadeIn" id="service">
            <div class="title">
                <h1>Servicios de Cremación</h1>
            </div>
            <ul>
                <li>Tramitación completa e integral.</li>
                <li>Incluye inscripción de la defunción en el Registro Civil.</li>
                <li>Anfora, solicitud de incineración ante el Seremi de Salud.</li>
                <li>Traslados de carroza.</li>
                <li>Tarjeta y Libro de Condolencias, arreglo floral.</li>
                <li>En caso de requerir el servicio de cremación contactarse al + 56 9 97786390.</li>
            </ul>
            <div class="fotos">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="../../../assets/anfora_1.jpg" alt="Anforas ofrecidas por Funeraria Cubillos" class="img-fluid foto">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="../../../assets/anfora_2.jpg" alt="Anforas ofrecidas por Funeraria Cubillos" class="img-fluid foto">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="../../../assets/anfora_3.jpg" alt="Anforas ofrecidas por Funeraria Cubillos" class="img-fluid foto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>