<div class="container" id="traslados">
    <div class="row">
        <div class="col-lg-3">
            <app-service-navigation [redirect]="'/servicios/tramitaciones'"></app-service-navigation>
        </div>
        <div class="col-lg-9 animate__animated animate__fadeIn" id="service">
            <div class="title">
                <h1>Asesoría en Tramitaciones</h1>
            </div>
              <p>Gestionamos tramitación para certificación médica a domicilio con certificado inmediato previo antecedentes médicos del fallecido, resolución de traslado, inscripción de la defunción en el Registro Civil y asesoramos a la familia para los trámites en el cementerio para la sepultación.</p>
        </div>
    </div>
</div>