<section class="presentacion">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <div class="logo">
        <img src="../assets/logo-white.png" alt="Funeraria Cubillos Viña del Mar Logo" class="img-fluid" id="logo">
      </div>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCubillos" aria-controls="navbarCubillos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCubillos">
        <div class="navbar-nav p-4">
          <a class="nav-item nav-link" [class]="height < 504 ? 'active': ''" href="#">Inicio</a>
          <a class="nav-item nav-link" [class]="height > 504 && height < 869 ? 'active': ''" href="#about">Nosotros</a>
          <a class="nav-item nav-link" [class]="height > 869 && height < 2400 ? 'active': ''" href="#servicios">Servicios</a>
          <a class="nav-item nav-link" [class]="height > 2400 ? 'active': ''" href="#contact">Contacto</a>
        </div>
      </div>
    </nav>
    
    <div class="contactUs">
      <p class="text-white"><i class="fas fa-mobile me-3"></i>+56 9 9778 6390</p>
    </div>
  <div class="video-background">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../assets/video_cubillos_fondo.mp4" type="video/mp4">
    </video>
  </div>
</section>

<section id="about">
  <div class="container">
    <br><br>
    <div class="title" data-aos="fade-right"
    data-aos-anchor-placement="top-bottom">
      <h1>Historia de Empresa Funeraria Cubillos</h1>
      <div class="extraInfoContainer container">
        <div id="navbarExtraInfo">
          <p id="extraInfo">Desde 1959</p>
        </div>
      </div>
    </div>
    <hr class="separador">
    <div class="aboutDescription" data-aos="fade-left"
    data-aos-anchor-placement="top-bottom">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="descripcion">
            <p>Tras {{ anios }} años apoyando a familias chilenas, <span class="oldLondon">Funerales Cubillos</span> se ha posicionado como líder en el servicio funerario, apoyando a las familias en el difícil momento de la partida de un ser querido.</p>
            <p>Luego de décadas de profesionalismo y esmero, se abre una sucursal autónoma en Viña del Mar, donde arraigó en el corazón de miles de familias de la ciudad jardín y en poco tiempo se ha distinguido por su servicio y confianza.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 creador">
            <img src="../assets/juancubillos.png" alt="Fundador de Empresas Funerales Cubillos: Juan Cubillos" class="juancubillos">
            <p class="text-center">Juan Cubillos, Fundador</p>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<section class="servicios">
  <div class="flower">
    <div class="f-wrapper">
        <div class="flower__line"></div>
        <div class="f">
            <div class="flower__leaf flower__leaf--1"></div>
            <div class="flower__leaf flower__leaf--2"></div>
            <div class="flower__leaf flower__leaf--3"></div>
            <div class="flower__leaf flower__leaf--4"></div>
            <div class="flower__leaf flower__leaf--5"></div>
            <div class="flower__leaf flower__leaf--6"></div>
            <div class="flower__leaf flower__leaf--7"></div>
        </div>
    </div>

    <div class="f-wrapper f-wrapper--2">
        <div class="flower__line"></div>
        <div class="f">
            <div class="flower__leaf flower__leaf--1"></div>
            <div class="flower__leaf flower__leaf--2"></div>
            <div class="flower__leaf flower__leaf--3"></div>
            <div class="flower__leaf flower__leaf--4"></div>
            <div class="flower__leaf flower__leaf--5"></div>
            <div class="flower__leaf flower__leaf--6"></div>
            <div class="flower__leaf flower__leaf--7"></div>
            <div class="flower__leaf flower__leaf--8 flower__fall-down--pink"></div>
        </div>
    </div>

    <div class="f-wrapper f-wrapper--3">
        <div class="flower__line"></div>
        <div class="f">
            <div class="flower__leaf flower__leaf--1"></div>
            <div class="flower__leaf flower__leaf--2"></div>
            <div class="flower__leaf flower__leaf--3"></div>
            <div class="flower__leaf flower__leaf--4"></div>
            <div class="flower__leaf flower__leaf--5"></div>
            <div class="flower__leaf flower__leaf--6"></div>
            <div class="flower__leaf flower__leaf--7"></div>
        </div>
    </div>
    <div class="flower__glass"></div>
</div>
  <div class="carrozas bg-carrozas"> 
    <img src="../assets/Mercedes-Logo.png" alt="Carrozas Funeraria Cubillos" class="img-fluid carrozaMarca" data-aos="flip-right">
    <img src="../assets/Cadillac_logo.png" alt="Carrozas Funeraria Cubillos" class="img-fluid carrozaMarca" data-aos="flip-left">
  </div>
  <br><br><br>

  <div class="container">
    <div class="title">
      <h1>Han confiado en nosotros</h1>
    </div>
    <hr class="separador"><br>
    <!-- display 5 images responsive with bootstrap -->
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 vertical-align">
        <img src="../assets/4619-AGUNSA.jpg" alt="AGUNSA cliente de Funerales Cubillos" class="img-fluid cliente">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 vertical-align">
        <img src="../assets/empresas-tailor-1.png" alt="Empresas Taylor cliente de Funerales Cubillos" class="img-fluid cliente">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 vertical-align">
        <img src="../assets/somarco-1.png.webp" alt="SOMARCO cliente de Funerales Cubillos" class="img-fluid cliente">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 vertical-align">
        <img src="../assets/logo-INCHCAPE-1.png" alt="INCHCAPE cliente de Funerales Cubillos" class="img-fluid cliente">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 vertical-align">
        <img src="../assets/logo-ultramar-1.png.webp" alt="Ultramar cliente de Funerales Cubillos" class="img-fluid cliente bg-dark">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 vertical-align">
        <img src="../assets/logo-agenta-1.png.webp" alt="AGENTAL cliente de Funerales Cubillos" class="img-fluid cliente bg-dark">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12"></div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <img src="../assets/b__m_agencia_maritima_sa_logo.jpeg" alt="Panalpina cliente de Funerales Cubillos" class="img-fluid cliente">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12"></div>
    </div>
  </div>
  <br>
</section>

<section id="contact">
  <div class="container">
    <div class="title">
      <h1>Contacto</h1>
    </div>
    <hr class="separador">
    <br><br>
    <div class="contacto">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3345.4553371982975!2d-71.54659898852351!3d-33.01813237539284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689dddea37e8d77%3A0x799a69044dd660ec!2sFunerales%20Cubillos%20Vi%C3%B1a!5e0!3m2!1ses-419!2scl!4v1710344316834!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="contactoForm">
            <form action="" [formGroup]="contact" (ngSubmit)="enviarWhatsapp()">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" aria-describedby="nombre" formControlName="nombre">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" aria-describedby="email" formControlName="email">
              </div>
              <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3" formControlName="mensaje"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <hr class="separador">

    <div class="title">
      <h1>O bien...</h1>
    </div>
    <div class="contactos">
      <div class="row center-items">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../assets/DSC_0112.jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Juan Cubillos</h4>
              <h6>Ejecutivo</h6>
              <p class="card-text">+56 9 9778 6390</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../assets/DSC_0108.jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Marcela Romero</h4>
              <h6>Ejecutiva</h6>
              <p class="card-text">+56 9 8774 1047</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="../assets/DSC_0109.jpg" alt="Card image cap">
            <div class="card-body">
              <h4>Sebastián Cubillos</h4>
              <h6>Ejecutivo</h6>
              <p class="card-text">+56 9 4013 8361</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer [anios]="anios"></app-footer>

<a [href]="whatsapp" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>