<section class="presentacion">
  <nav class="container">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="logo">
        <img src="../assets/logo-white.png" alt="Funeraria Cubillos Viña del Mar Logo" class="img-fluid" id="logo">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCubillos" aria-controls="navbarCubillos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCubillos">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Inicio</a>
          <a class="nav-item nav-link" href="#">Nosotros</a>
          <a class="nav-item nav-link" href="#">Servicios</a>
          <a class="nav-item nav-link" href="#">Contacto</a>
        </div>
      </div>
    </div>
    <div class="container extraInfoContainer">
      <div id="navbarExtraInfo">
        <p id="extraInfo">Desde 1959</p>
      </div>
    </div>
    
  </nav>
  <div class="video-background">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../assets/1030343681-preview.mp4" type="video/mp4">
    </video>
  </div>
</section>
<section id="about">
  <div class="container">
    <br><br>
    <div class="title">
      <h1>Sobre Funeraria Cubillos</h1>
    </div>
  </div>
</section>
