<section class="presentacion">
  <nav class="container">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="logo">
        <img src="../assets/logo-white.png" alt="Funeraria Cubillos Viña del Mar Logo" class="img-fluid" id="logo">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCubillos" aria-controls="navbarCubillos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCubillos">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Inicio</a>
          <a class="nav-item nav-link" href="#about">Nosotros</a>
          <a class="nav-item nav-link" href="#">Servicios</a>
          <a class="nav-item nav-link" href="#">Contacto</a>
        </div>
      </div>
    </div>
    <div class="container extraInfoContainer">
      <div id="navbarExtraInfo">
        <p id="extraInfo">Desde 1959</p>
      </div>
    </div>
    
  </nav>
  <div class="video-background">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../assets/1063472734-preview.mp4" type="video/mp4">
    </video>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="title">
      <h1>Historia de Empresa Funeraria Cubillos</h1>
    </div>
    <hr class="separador">
    <div class="aboutDescription">
      <p>Tras {{ anios }} años apoyando a familias chilenas, <span class="oldLondon">Funerales Cubillos</span> se ha posicionado como líder en el servicio funerario, apoyando a las familias en el difícil momento de la partida de un ser querido.</p>
      <p>Luego de décadas de profesionalismo y esmero, se abre una sucursal autónoma en Viña del Mar, donde arraigó en el corazón de miles de familias de la ciudad jardín y en poco tiempo se ha distinguido por su servicio y confianza.</p>
    </div>
  </div>
</section>
<section class="servicios">
  <div class="container">
    <div class="title">
      <h1>¿Qué ofrecemos?</h1>
      <p class="text-center">En <span class="oldLondon">Funeraria Cubillos</span> ofrecemos un servicio integral, que incluye:</p>
    </div>
    <hr class="separador">
    <!-- display 5 images responsive with bootstrap -->
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="icon">
              <i class="fa-regular fa-handshake"></i>
            </div>
            <div class="card-text">
              <h3>Atención Personalizada</h3>
              <p>En el difícil momento de la partida de un ser querido, para que la familia pueda despedir a su ser querido de la mejor manera.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

