@import url('https://fonts.cdnfonts.com/css/old-london');

.presentacion {
  height: 70vh;
}

.creador
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}


#navbar {
  border-bottom: 2px solid #2a7bc6;
  
}

.contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 200px;
  background-color: #2a7bc6;
  border: 5px solid rgb(60, 60, 60);
  border-left: 0;
}

p {
  margin: 0;
}
@media (max-width: 988px) {

  .juancubillos {
    height: 180px;
    margin: 20px;
  }

}

@media (min-width: 988px) {

  .juancubillos {
    height: 180px;
    margin: 0 20px;
  }
  
}

  /* navbar for mobile with media*/
@media (max-width: 768px) {

  .navbar {
    height: auto;
    width: 100%;
    padding: 0 10px;
    z-index: 100;
    top: 0;
    box-shadow: -10px 10px -10px 0 rgba(0, 0, 0, 0.5);
  }

  .video-background {
    position: absolute;
    right: 0;
    /* top: 0; */
    min-width: 100%;
    width: 100%;
    z-index: -100;
    overflow: hidden;
    height: 100vh;
  }
  
  .video-background video {
    position: relative;
    left: 50%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    object-fit: cover;
    -moz-transform: translateX(-50%) translateY(-25%);
    -webkit-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-30%);
  }

  .aboutDescription {
    padding: 20px;
    width: 90%;
    font-size: 1.2rem;
    text-align: justify;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
/* for pc */
@media (min-width: 768px) {

  .navbar {
    margin: 30px 30px 0 30px;
    height: auto;
    width: 70%;
    // center the navbar
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    z-index: 100;
    position: absolute;
    /* position the div in center */
    left: 50%;
    transform: translateX(-50%);
    /* shadow */
    box-shadow: -10px 10px -10px 0 rgba(0, 0, 0, 0.5);
  }

  .video-background {
    position: absolute;
    right: 0;
    /* top: 0; */
    min-width: 100%;
    width: 100%;
    z-index: -100;
    overflow: hidden;
  }
  
  .video-background video {
    position: relative;
    left: 50%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    object-fit: cover;
    -moz-transform: translateX(-50%) translateY(-25%);
    -webkit-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-30%);

  }

  .aboutDescription {
    padding: 20px;
    width: 70%;
    font-size: 1.2rem;
    text-align: justify;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  border-radius: 0;
  transition: .2s ease;
}

.logo {
  height: 80px;
  width: 15rem;
  margin-right: 20px;
  background-color: #2a7bc6;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: auto;
}

img#logo {
  // center img
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80px;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
  //center vertically
  position: relative;
  top: 50%;
  transform: translateY(-30%);
}

#navbarCubillos {
  justify-content: center;
}

.nav-item {
  border: 2px solid #2a7bc6;
  border-radius: 10px;
  margin: 5px 10px;
  min-width: 100px;
  text-align: center;
}

.nav-item.active {
  background-color: #2a7bc6;
  color: white;
}

#navbarExtraInfo {
  background-color: white;
  border-bottom: 2px solid #577ddf;
  width: 106px;
  border-radius: 10px;
  box-shadow: -10px 10px -10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
}

p#extraInfo {
  margin: 0;
  font-family: 'Old London', sans-serif;
}

#about {
  background-color: white;
}

.cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.bg-burdeo {
  background-color: #811515;
  color: white;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

#service {
  width: 70%;
}

.carrozas {
  height: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.carrozaMarca {
  // center both img center horizontal and vertical
  max-width: 6rem;
  align-items: center;
  margin: 10px;
  
}

.map {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.contactoForm {
  max-width: 600px;
  margin: 40px auto;
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  display: flex;
  z-index:100;
  text-decoration: none;
}

.whatsapp-icon {
  margin: auto;
}