<div class="container" id="urnas">
    <div class="row">
        <div class="col-lg-3">
            <app-service-navigation [redirect]="'/servicios/urnas'"></app-service-navigation>
        </div>
        <div class="col-lg-9 animate__animated animate__fadeIn" id="service">
            <div class="title">
                <h1>Exhibición de Urnas</h1>
            </div>
            <p>Contamos con una sala de exposiciones de urnas a objeto de que usted pueda elegir la de su agrado.
                Tenemos una gran variedad de estilos y modelos con la mejor calidad y modelo.</p>
                
                <div class="py-2">
                    <p-button type="button" icon="pi pi-minus" (click)="prev()" styleClass="p-button-secondary mr-2">Anterior</p-button>
                    <p-button type="button" icon="pi pi-plus" (click)="next()" styleClass="p-button-primary">Siguiente</p-button>
                </div>
                <p-galleria [responsiveOptions]="responsiveOptions" [numVisible]="5" [(activeIndex)]="activeIndex" [value]="images">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.source" style="width: 100%; height: 600px;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.source" />
                        </div>
                    </ng-template>
                </p-galleria>
        </div>
    </div>
</div>