<div class="container" id="urnas">
    <div class="row">
        <div class="col-lg-3">
            <app-service-navigation [redirect]="'/servicios/urnas'"></app-service-navigation>
        </div>
        <div class="col-lg-9 animate__animated animate__fadeIn" id="service">
            <div class="title">
                <h1>Asesoría en Tramitaciones</h1>
            </div>
              <p>Contamos con una sala de exposiciones de urnas a objeto de que usted pueda elegir la de su agrado. Tenemos una gran variedad de estilos y modelos con la mejor calidad y modelo.</p>
        </div>
    </div>
</div>