<section id="servicios">
    <div class="container animate__animated animate__backInLeft">
      <div class="title">
        <h1>¿Qué ofrecemos?</h1>
        <p class="text-center">En <span class="oldLondon">Funeraria Cubillos</span> ofrecemos un servicio integral, que incluye:</p>
      </div>
      <hr class="separador"><br>
      <!-- display 5 images responsive with bootstrap -->
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-card [title]="'Servicios Funerarios'" [icon]="'fa-seedling'" [redirect]="'servicios/funebres'"></app-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-card [title]="'Servicios de Cremación'" [icon]="'fa-fire'" [redirect]="'servicios/cremacion'"></app-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-card [title]="'Traslado de carroza'" [icon]="'fa-car'" [redirect]="'servicios/traslados'"></app-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-card [title]="'Asesoría en Tramitaciones'" [icon]="'fa-handshake'" [redirect]="'servicios/tramitaciones'"></app-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-card [title]="'Certificación Médica'" [icon]="'fa-file-circle-check'" [redirect]="'servicios/certificacion'"></app-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-card [title]="'Exhibición de Urnas'" [icon]="'fa-box'" [redirect]="'servicios/urnas'"></app-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <app-card [title]="'Servicio Funerario de Repatriación'" [icon]="'fa-box'" [redirect]="'servicios/repatriacion'"></app-card>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12"></div>
      </div>
      <p class="text-center">Contamos con convenios con IPS, AFPs, Compañía de seguros y/o Rentas Vitalicias, Capredena, Dipreca.</p>
    </div>
  
    <br><br><br>
</section>