<div class="container" id="repatriacion">
    <div class="row">
        <div class="col-lg-3">
            <app-service-navigation [redirect]="'/servicios/repatriacion'"></app-service-navigation>
        </div>
        <div class="col-lg-9 animate__animated animate__fadeIn" id="service">
            <div class="title">
                <h1>Servicio Funerario de Repatriación</h1>
            </div>
              <p>Realizamos un servicio integral y personalizado con certificación médica de acuerdo a las exigencias del Seremi de Salud. Tratamiento de conservación del cuerpo, certificados legalizados y apostillados, resolución internacional de traslado a su país de origen, urna y embalajes, contactos con las embajadas, aduanas y líneas aéreas para el traslado del féretro a su país de origen.</p>
                <br>
              <div class="fotos">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../assets/plan-repatriacion.png" alt="Servicio de Repatriación" class="img-fluid foto">
                    </div>
                    <div class="col-6">
                        <img src="../../../assets/carroza mercedes.webp" alt="Urnas Funeraria Cubillos" class="img-fluid foto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>