/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.oldLondon {
    font-family: 'Old London', cursive;
    font-weight: 700;
}

.separador {
    border-bottom: 2px solid #2a7bc6;
    width: 20%;
    margin: 0 auto;
}

.color-fire {
    color: #ff6f61;
}

.title h1 {
    font-family: 'Old London', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }